<footer class="main-footer">
    <h3 class="contact-title">Contact</h3>
    <div id="contact">
        <span class="social-media">
            <%- include('../icons/email') %>
            <a href="mailto:emelipasini@gmail.com">Send me an email</a>
        </span>
        <span class="social-media">
            <%- include('../icons/phone') %>
            <a href="tel:+4915205352141">Call me</a>
        </span>
        <span class="social-media">
            <%- include('../icons/download') %>
            <a download href="/files/emeli-pasini-cv.pdf">Download my CV</a>
        </span>
        <span class="social-media">
            <%- include('../icons/github') %>
            <a href="https://github.com/emelipasini" target="_blank" rel="noreferrer">GitHub</a>
        </span>
        <span class="social-media">
            <%- include('../icons/linkedin') %>
            <a href="https://linkedin.com/in/emelipasini" target="_blank" rel="noreferrer">Linkedin</a>
        </span>
        <span class="social-media">
            <%- include('../icons/twitter') %>
            <a href="https://twitter.com/emelipasini" target="_blank" rel="noreferrer">Twitter</a>
        </span>
    </div>

    <a href="https://github.com/emelipasini/portfolio" target="_blank" rel="noreferrer">
        <small class="signature">Made with ❤ by Emelí Pasini - 2023</small>
    </a>
</footer>
